<div class="box">

<mat-card style="text-align: center; width:70%">
    <mat-card-title style="margin: 50px;">
      Login
    </mat-card-title>

   <mat-card-content>

    <form class="example-form" #loginform="ngForm" >
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Username" required name="username" ngModel >
        </mat-form-field>
      
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" required type="password" name="password" ngModel >
          </mat-form-field>
          <div>
            <button mat-raised-button type="submit" class="logbuttn" style="margin: 5px" color="primary" >Login</button>
          </div>
          <div> 
            <a mat-raised-button style="margin: 30px" class="logbuttn" color="accent" >Guest Checkout</a>
            </div>
            <div>
            <a mat-raised-button style="margin: 5px" class="logbuttn" color="accent" >Sign Up</a>
          </div>
      </form>
     
   </mat-card-content>
   
</mat-card>
</div>
