<div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>

  <mat-card fxLayout="column" fxFlex="70%">
    <mat-card-title fxFlex="20%" fxLayoutAlign="center center">
      Login
    </mat-card-title>

    <mat-card-content>
      <form fxLayoutAlign="stretch" fxLayout="column" #loginform="ngForm" (submit)="ProceedLogin(loginform.value)">
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Username" required name="username" ngModel>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Password" required type="text" name="password" ngModel>
        </mat-form-field>
        <div fxLayout="row" fxFlex="100%" fxLayoutAlign="center center ">
          <button  fxFlex="80%" mat-raised-button type="submit" color="primary" style="margin-top:30px">Login</button>
        </div>
        <div fxLayout="row" fxFlex="100%" fxLayoutAlign="center center ">
          <a fxFlex="80%"  mat-raised-button color="accent" style="margin-top:30px">Guest Checkout</a>
        </div>
        <div fxLayout="row" fxFlex="100%" fxLayoutAlign="center center ">
          <a fxFlex="80%"  mat-raised-button color="accent" style="margin-top:30px">Sign Up</a>
        </div>
      </form>

    </mat-card-content>

  </mat-card>
</div>